Package: com.xybp888.CallAssist13
Name: 电话助手iOS13-测试版
Version: 0.9.9-28
Section: Tweak
Depends: firmware (>= 13.0), mobilesubstrate,preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: xybp888 <8657156@qq.com>
Description: 电话助手授权版本,集成T9,来去电归属地,黑名单,骚扰拦截等强大插件
Homepage: https://apt.htv123.com
Maintainer: xybp888 <8657156@qq.com>
Icon: file:///Library/PreferenceBundles/CallAssistSetting.bundle/CallAssistIcon@3x.png

